.venv/
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
.tfplan
tfplan

# macOS
.DS_Store

# Local data lake
data_staging/raw_landing/
data_staging/bronze/
